<div id="register">
  <img src="/img/hinhnenlogin.jpg" alt="">

  <div class="form-tt">
    <h2>Đăng ký</h2>

    <form action="" method="post" name="dang-ky">
        <input type="text" name="username" placeholder="Tài khoản" />
        <input type="text" name="email" placeholder="Email" />
        <input type="password" name="password" placeholder="Nhập mật khẩu" />
        <input type="password" name="confirmPassword" placeholder="Xác nhận mật khẩu" />
        <input type="submit" name="submit" value="Đăng ký" />
    </form>
  </div>

</div>
