<header class="header">

<div class="navbar">
  <ul class="navbar_nav-list">
    <li class="list-item">
      <a href="" class="item-link">Trang Chủ</a>
    </li>
    <li class="list-item">
      <a href="" class="item-link">Thẻ Bài</a>
    </li>
    <li class="list-item">
      <a href="" class="item-link">Giải Đấu</a>
    </li>
    <li class="list-item">
      <a href="" class="item-link">Admin</a>
    </li>
    <li class="list-item">
      <a href="" class="item-link">Donate</a>
    </li>
  </ul>
</div>


</header>